<div class="announcement-bar">
  <div class="announcement-text">
    <span>{{ 'Summer Sale For All Swim Suits And Free Express Delivery-OFF 50%!' | translate }}</span>
    <a href="/" class="shop-now-link" [protectedClick]="ShopNow.bind(this)"><b>{{ 'ShopNow' | translate }}</b></a>
  </div>
<div class="language-selector" (click)="toggleLangDropdown()">
  <span>{{ currentLangLabel }}</span>
  <span class="arrow-down"></span>
  <ul *ngIf="isLangDropdownOpen" class="lang-dropdown">
    <li *ngFor="let lang of languages" (click)="changeLanguage(lang.code); $event.stopPropagation();">
      {{ lang.label }}
    </li>
  </ul>
</div>

</div>
