.registration-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 1050px;
    margin: 3rem auto 2rem auto;
    gap: 2.5rem;

    .registration-img-section {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 420px;

        .main-image {
            width: 760px;
            height: auto;
            margin: 5px 100px 30px 10px;
        }
    }

    .registration-form-section {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 400px;
        min-width: 320px;
        margin-top: 11rem;

        h2 {
            margin-bottom: 0.6rem;
            font-size: 2rem;
            font-weight: bold;
        }

        .subhead {
            margin-bottom: 1.5rem;
            color: #535353;
            font-size: 1.07rem;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 1.08rem;
        }

        input {
            padding-top: 1.5rem;
            padding-bottom: 0.6rem;
            border: none;
            border-bottom: 1px solid #ddd;
            font-size: 1rem;
            outline: none;
            background: white;
            margin-bottom: 0;
            transition: border-bottom 0.2s;
        }

    }

}

.logins {
    display: flex;
    justify-content: space-between;
}

.account-bottom {
    margin-top: 10px;
    a {
        
        color: rgb(222, 113, 113);
        text-decoration: none;
    }

}


@media (max-width: 900px) {
    .registration-wrapper {
        flex-direction: column;

        .registration-img-section,
        .registration-form-section {
            max-width: 100%;
            min-width: unset;
        }

        .registration-img-section {
            margin-bottom: 2.4rem;
        }
    }
}